body{
	padding-bottom: 2em;
	padding-left:4em;
	padding-right:4em;
	background-color:silver;
	margin:auto;
}
form{
	padding:1em;
	background-color: white;
	width:400px;
	float:right;
}
#generated{
	padding:.5em;
	float:left;
	width:500px;
}
